# Logs
logs
*.log
npm-debug.log*

# build
/dist

# Dependencies
node_modules/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Misc
.DS_Store

# test
allure-results